---
---
<html>
  <head>
  {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="content">
        <div>
            <h1>NEWS</h1>
            <div class="item">
                We are currently rebuilding our website after
                our <a href="https://www.soarol.com/">hosting provider</a>
                suffered hardware failures.
            </div> 
            <div class="item">
                <h3>Flag Fundraiser</h3>
                <a href="/node/1800/">Sign Up</a>
            <div>
        </div>
    </div>
  </body>
</html>
  
