
<p style="text-align: center;">
    To sign up now, simply pay online by clicking the following link:
    <br><span style="background-color: #ffff00;"><a href="http://www.PayPal.Me/Troop478Flags" target="_blank">Troop 478 Flag Fundraiser</a></span>
</p>
<p align="center"><span style="font-family: Georgia;"><strong><span style="font-size: large;"><span style="font-family: Georgia;"><strong><span style="font-size: large;">For  Spring Valley Village, Hilshire Village, Brykerwoods,<br>and the Springwood/Timber Creek neighborhoods</span></strong></span></span></strong></span></p>
<p align="center"><span style="font-size: large;">Support Troop 478 and have a beautiful US Flag posted in your front yard for <br/><strong>Memorial Day, Independence Day and Veterans Day   <br /></strong></span></p>
<p style="text-align: center;"><span style="font-family: Georgia; font-size: medium;"><img src="/images/flags_on_street.png" style="max-height: 20vh"  /></span></p>
<p align="center"><span style="font-size: large;">For a minimum donation of $40.00, BSA Troop 478 will post a 3’x5’  U.S. flag on an 8’ pole in your front yard for <span style="text-decoration-line: underline;">Memorial Day, Independence Day, and Veterans Day</span>.</span></p>
<p align="center"><span style="font-size: large;">The Boy Scouts will set up the flags before the holiday and take them down afterwards.  All you have to do is enjoy the patriotic effect of the flags waving up and down the streets.</span></p>
<div> <span style="font-size: large;">Sign up now to make sure your home is included in the flag holidays.  All proceeds from this service will benefit the Boy Scouts in Troop 478.</span></div>
<div style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 16px;"><span style="font-size: 18pt; font-family: sans-serif; color: black;"> </span></div>
