
<img class="flag-image center" src="/images/flags_banner.png" style="max-height: 20vh"  />
<h2 style="text-align: center">Boy Scout Troop 478<br>U.S. Flag Holiday Fundraiser</h2>
<p>For  Spring Valley Village, Hilshire Village, Brykerwoods,
and the<span style="white-space: nowrap">Springwood/Timber Creek</span>neighborhoods</p>
<p>Support Troop 478 and have a beautiful US Flag posted in your front yard for  Memorial Day, Independence Day and Veterans Day</p>
<h3>To sign up now:</h3>
<ol>
    <li>Pay online via PayPal, Zelle or Check</li>
    <li>Input information on google form</li>
</ol>
<h3>Payment Options:</h3>
<ol>
    <li><a href="https://www.paypal.com/paypalme/Troop478Flags">Paypal to Troop478Flags</a>
    <li>Zelle to Troop478treasurer@gmail.com</li>
    <li>Mail Donation Check payable to
        <p class="flags-payment-address">
        BSA Troop 478 to:
        Troop 478 flags
        PO Box 550621
        Houston, TX 77255-0621
        </p>
    </li>
</ol>
<p class="attention">**For all payment options please note the street address and name from registration</p>

<p>For a minimum donation of $45, BSA Troop 478 will post a 3’x5’  U.S. flag on an 8’ pole in your front yard for <strong>Memorial Day, Independence Day, and Veterans Day.</strong></p>

<p>The Boy Scouts will set up the flags before the holiday and take them down afterwards.  All you have to do is enjoy the patriotic effect of the flags waving up and down the streets.</p>

<p>Sign up now to make sure your home is included in the flag holidays.  All proceeds from this service will benefit the Boy Scouts in Troop 478.</p>
