<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />
<style>
    html {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        font-size: calc(1vw + 1vh);
    }
    body {
        margin: 8px;
        padding: 0;
        background-color: #dddddd;
    }

    h1, h2, h3, h4, h5 {
        margin: 0 0 5px 0;
    }

    h3 {
        margin: 3vh 0 0.5vh 0;
    }

    p {
        margin: 2vh 0 2vh 0;
    }

    .attention {
        text-decoration: italic;
        color: #cc0000;
    }

    div.item {
        border: 1px solid #666666;
        padding: 5px;
        margin: 10px 0 10px 0;
    }

    div.content {
        display: flex;
        justify-content: center;
    }

    div.content > div {
        width: 80%;
        max-width: 900px;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        margin: -8px -8px 0 -8px;
        width: calc(100% + 16px);
    }

    header .logo {
        max-height: 20vh;
        max-width: 20vw;
    }

    header h1 {
        padding-left: 10px;
        font-family: sans-serif;
        font-size: calc(6vw + 6vh);
        margin: 0;
    }

    nav {
        background-color: #555555;
        padding-left: 10px;
        width: calc(100% + 16px);
        margin: 0 -8px 10px -8px;
        padding: 4px;
    }
    nav a {
        margin-left: 10px;
        color: white;
        text-decoration: none;
    }
    nav a:hover {
        text-decoration: underline;
    }

    .flag-wrapper {
        display: flex;
        justify-content: center;

        .flag-content {
            max-width: 820px;
            width: 98vw;

            ol {
                margin: 0 0 0 0;
                padding: 0 0 0 30px;
            }
        }
    }

    .flag-image {
        display: block;
        margin: 0 auto 2vh auto;
        width: 100%;
        height: auto;
    }

    .flags-payment-address {
        margin: 5px 0 0 0;
        width: fit-content;
        white-space: pre;
        border: 3px solid #555555;
        border-radius: 10px;
        padding: 5px;
    }

    .flag-form-link {
        display: block;
        width: fit-content;
        margin: 0 auto 0 auto;
        border: 7px solid #B31942;
        border-radius: 10px;
        padding: 10px;
        background-color: #1A4161;
        color: white;
        text-decoration: none;
        font-weight: 900;
    }

    .flag-form-link:hover {
        background-color: #cccccc;
    }

    .flag-questions {
        margin: 0;
        border: 3px solid #555555;
        border-radius: 10px;
        padding: 5px;
    }

    @media (max-width: 800px) and (orientation: portrait) {
        body {
            font-size: 4.5vw;
        }
        header h1 {
            font-size: 10vw;
        }
    }
    @media (max-width: 800px) and (orientation: landscape) {
        body {
            font-size: 5vh;
        }
        header h1 {
            font-size: 10vh;
        }
    }
</style>
