---
---
<html>
  <head>
  {% include head.html %}
  </head>
  <body>
  {% include header.html %}
    <div style="display: flex; justify-content: center">
        <div class="flag-content">
          {% include flags_intro.html %}
            <a class="flag-form-link"
               href="https://forms.gle/HQL2JAjZg6WSgTut8"
            >
                SIGN UP FOR FLAG SERVICE
            </a>
          {% include flags_outro.html %}
        </div>
    </div>
  </body>
</html>
