---
---
<html>
  <head>
  {% include head.html %}
  </head>
  <body>
  {% include header.html %}
    <div class="flag-wrapper">
        <div class="flag-content">
          <div class="sold-out">
              <h1>SOLD OUT</h1>
              <h2>for Independence Day</h2>
          </div>
          {% include flags_intro.html %}
          {% include flags_outro.html %}
          {% comment %}
          <iframe
            style="width: 100%; height: 2600px; overflow: auto"
            src="https://forms.gle/HQL2JAjZg6WSgTut8"></iframe>
          {% endcomment %}
        </div>
    </div>
  </body>
</html>
